<html>
    <head>
        <title>Book review Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
    </head>
    <body>
        <h1>Information for {{ book.title }}</h1>
        <ol>
            <li>
                Author: {{ book.author }}
            </li>
            <li>
                Publication year: {{ book.years }}
            </li>
            <li>
                ISBN Number: {{ book.idnumber }}
            </li>
        </ol>
            Goodreads ratings:
            <ul>
            <li>
                Average rating : {{ avgrating }}
            </li>
            <li>
                Number of ratings : {{ norating }}
            </li>
            </ul>
            <p>
                {% if message %}
                <h3>Your ratings</h3><br>
                {{ review }}
                {{ stars }}
                {% else %}
                <h2>Please enter your review!!</h2>
                <form class="form-example" action="" method="post">
                    <!-- Input fields -->
                    <h4>Your rating out of 5.</h4>
                    <div>
                        <input type="radio" id="contactChoice1"
                         name="contact" value="email">
                        <label for="contactChoice1">1</label>
                    
                        <input type="radio" id="contactChoice2"
                             name="contact" value="phone">
                        <label for="contactChoice2">2</label>
                        
                        <input type="radio" id="contactChoice3"
                             name="contact" value="mail">
                        <label for="contactChoice3">3</label>
                        
                        <input type="radio" id="contactChoice4"
                             name="contact" value="mail">
                        <label for="contactChoice4">4</label>

                        <input type="radio" id="contactChoice5"
                             name="contact" value="mail">
                        <label for="contactChoice5">5</label>
                    </div>
                    <div class = "form-group w-50">
                        <label for="review">Your review</label>
                        <textarea name="rev" class="form-control" id="review" rows="3" cols="6"></textarea>

                    </div>
                    
                        <div>
                            <button type="submit" formaction="{{ url_for('addreview')">Submit</button>
                        </div>
                </form>
                <!-- Form end -->
                {% endif %}
            </p>
        </body>
        </html>
